.wrapper {
  margin: 0 auto;
  max-width: var(--container-xxl);
  display: flex;
}

.sideBar {
  background-color: var(--color-atlas-blue);
  color: white;
  flex: 1 1 37%;
  max-width: 530px;
  padding: 100px 48px;
}

.main {
  flex: 1 1 63%;
  padding: 0 32px;
}